<html>
<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<form method="post">
  <div class="row">
       <div class="col-sm-12 text-center">
           <button id="btnledon" class="btn btn-primary btn-md center-block" Style="width: 100px;" formaction="/ledon">prende</button>
           <button id="btnledoff" class="btn btn-danger btn-md center-block" Style="width: 100px;" formaction="/ledoff">apaga</button>
       </div>
  </div>
</form>

</body>
</html>

